body{ 
    background-color: #7c91a0;
   
}

h1{ 
    text-align: center;
    color: azure;
    background-color: black;
    font-family:Georgia, 'Times New Roman', Times, serif
}

h2{
    text-align: center;
    font-family:Georgia, 'Times New Roman', Times, serif
}

p{
    text-align: center;
    font-family:Georgia, 'Times New Roman', Times, serif
}

/* styling for merch shirts */
.merch{
  box-shadow: 0px 0px 6px #fff;
}
/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
  float: left;
  width: 47%;
  padding: 25px;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}



/* image edits */
.image {
  box-shadow: 0px 0px 6px #fff;
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 50%;
  height: 50%;
  border-radius: 20%;
}

/* over lay on image  */
.overlay {
  margin-left: auto;
  margin-right: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 600px;
  width: 40%;
  opacity: 0;
  transition: .2s ease;

}

.container:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* end of image overlay edits */


/* Place the navbar at the bottom of the page, and make it stick */
.footer {
    background-color: #3b0f0f46;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  
  /* Style the links inside the navigation bar */
  .footer a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    font-family:Georgia, 'Times New Roman', Times, serif;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

  .footer a:hover {
    background-color: #b2bef1;
    color: rgb(0, 0, 0);
  }